.navbar {
  position: relative;
  z-index: 100;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 18px 48px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
  display: flex;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 22px;
  height: 22px;
}

.brand {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

/* CENTER */
.nav-center {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.nav-center a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.9;
}

.nav-center a:hover {
  opacity: 1;
}

/* RIGHT */
.nav-right {
  display: flex;
  gap: 22px;
}

.icon {
  font-size: 18px;
  opacity: 0.85;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}
